/* General Block */
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-medium-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-mediumitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-semibold-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-semibolditalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-bold-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-bolditalic-webfont.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-extrabold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-extrabolditalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "monsterrat-alt";
    src: url("./assets/fonts/montserratalternates-blackitalic-webfont.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}
* {
    box-sizing: border-box;
    font-family: "monsterrat-alt";
    margin: 0px;
    padding: 0px;
}

:root {
    --clr-background: #26006E;
    --clr-scissors: #0C7CEB;
    --clr-scissors-alt: #F38314;
    --clr-paper: #00DFBA;
    --clr-paper-alt: #FF2045;
    --clr-rock: #FE2BF1;
    --clr-rock-alt: #01D40E;
    --clr-main-text: #CFB6FE;
}
body{
    background-color: var(--clr-background);
}
button {
    background-color: transparent;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 32px;
    margin-bottom: 16px;

    & .logo {
        font-weight: 900;
        font-size: 32px;
        color: var(--clr-main-text);
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 16px;
        color: var(--clr-main-text);
    }

    & a {
        font-size: 20px;
        color: var(--clr-main-text);
    }
}

/* Page */
.game-text {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--clr-main-text);
    margin-bottom: 64px;
}

.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    gap: 64px;

    & .player-hand,
    .computer-hand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
}

.hand-btn {
    width: 225px;
    height: 225px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    border: 10px solid;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        min-height: 0;
        flex: content;
        margin: 16px;
    }

    &.rock {
        color: var(--clr-rock);
        border-color: var(--clr-rock);
    }
    &.paper {
        color: var(--clr-paper);
        border-color: var(--clr-paper);
    }
    &.scissors {
        color: var(--clr-scissors);
        border-color: var(--clr-scissors);
    }
    &.rock.cpu {
        color: var(--clr-rock-alt);
        border-color: var(--clr-rock-alt);
    }
    &.paper.cpu {
        color: var(--clr-paper-alt);
        border-color: var(--clr-paper-alt);
    }
    &.scissors.cpu {
        color: var(--clr-scissors-alt);
        border-color: var(--clr-scissors-alt);
    }
}

.game-info {
    width: 256px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & *{
        margin: 64px 0px;
    }

    & .score{
        color: var(--clr-main-text);
        font-weight: 900;
        font-size: 64px;
    }

    & .round-results{
        color: var(--clr-main-text);
    }
}

/* Animations */

button:hover {
    scale: 0.95;
}
button:active {
    scale: 1.1;
    box-shadow: 0px 0px 20px currentColor;
}